#board {
  margin-top: 10px;
}

.box {
  border: 8px solid white;
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 100px;
  background-color: lightgray;
  }

.red{
  color: red;
  background-color: salmon;
}

.blue{
  color: navy;
  background-color: lightblue;
}
